<div role="tabpanel" class="tab-pane fade in active marging-top" id="log-home">
  <div>

  <!-- Left panel of the middle area -->
  <div class="left-small element-inline component-area-height padding-right " >

    <div>
      <div class="element-inline input-margin-right">
        <%= l.association :log_type, label:'Type',collection: @selectable_types, readonly: true, error: false , include_blank: true, label_method: lambda { |log_type| "#{log_type.code} - #{log_type.label}" },input_html: {class: 'medium-field'} %>
      </div>
      <div class="element-inline input-margin-right">
        <%= l.association :log_status, label:'Status', collection: @selectable_status, readonly: true, error: false ,include_blank: false, label_method: lambda { |log_status| "#{log_status.code} - #{log_status.label}" },input_html: {class: 'medium-field'} %>
      </div>
    </div>

    <div>
      <div class="element-inline input-margin-right">
        <%= l.input :code, label:"Code",readonly: true , error: false ,input_html: {class: 'small-field', maxlength: 7 }%>
      </div>
      <div class="element-inline input-margin-right">
        <%= l.input :label, label:"Title", error: false ,input_html: {class: 'large-field', maxlength: 40 } %>
      </div>
    </div>

    <div>
      <div class="element-inline input-margin-right">
        <%= l.association :log_stage, label:'Insertion stage', collection: @selectable_stages, readonly: true, include_blank: true, label_method: lambda { |log_stage| "#{log_stage.label}" }, input_html: {class: 'medium-field'} %>
      </div>
      <div class="element-inline input-margin-right">
        <%= l.association :log_added_value, label:'Expected added value',collection: @selectable_values,readonly: true, :label_method => lambda { |log_added_value| "#{log_added_value.code} - #{log_added_value.label}" },include_blank: true,input_html: { class: 'medium-field' } %>
      </div>

    </div>

    <div>
      <div class="element-inline input-margin-right">
        <label for="log-cby">Created by</label>
        <% if @log.creator != nil %>
          <p class="form-control medium-field" id="log-cby" readonly><%= @log.creator.alias %></p>
        <% else %>
         <p class="form-control medium-field" id="log-cby" readonly> </p>
        <% end %>
      </div>
      <div class="element-inline input-margin-right">
        <label for="log-uby">Updated by</label>
        <% if @log.owner != nil %>
          <p class="form-control medium-field" id="log-uby" readonly><%= @log.owner.alias %> </p>
        <% else %>
          <p class="form-control medium-field" id="log-uby" readonly>No owner</p>
        <% end %>
      </div>
    </div>

    <div>
      <div class="element-inline input-margin-right">
        <%= l.association :expected_milestone, label:'Expected milestone',collection: @selectable_milestones,readonly: true, :label_method => lambda { |milestone| "#{milestone.code} - #{milestone.label}" },include_blank: true,input_html: { class: 'medium-field' } %>
      </div>
      <div class="element-inline input-margin-right">
        <%= l.association :confirmed_milestone, label:'Confirmed milestone',collection: @selectable_milestones,readonly: true, :label_method => lambda { |milestone| "#{milestone.code} - #{milestone.label}" },include_blank: true,input_html: { class: 'medium-field' } %>
      </div>
    </div>

    <div>
      <div class="element-inline input-margin-right">
        <label for="log-doc">Date of creation</label>
        <p class="form-control medium-field" id="log-doc" readonly> <%= @log.created_at %> </p>
      </div>
      <div class="element-inline input-margin-right">
        <label for="log-dou">Date of update</label>
        <p class="form-control medium-field" id="log-dou" readonly> <%= @log.updated_at %> </p>
      </div>
    </div>
  </div>

  <!-- Right panel of the middle area -->
  <div class="right-large element-inline component-area-height padding-right">
    <div>
      <div class="element-inline element-margin-right">
        <%= l.input :description, label:"Current status",error: false,input_html: {class: 'input-for-resume' , rows: 8}%>
      </div>
    </div>
    <div>
      <div class="element-inline element-margin-right">
        <%= l.input :expectation, label:"Expectation", input_html: {class: 'input-for-resume', rows: 8}%>
      </div>
    </div>
  </div> 
  </div>
</div>