<%= simple_form_for @log do |l| %>

  <div>
    <div class="left-small element-inline">
      <h3>Caracteristics</h3>
      <div class="element-inline left-element-margin">
        <%= l.input :code, label:"Code",input_html: {class: 'small-field',maxlength: 6 }%>
      </div>
      <div class="element-inline">
        <%= l.input :label, label:"Title", input_html: { maxlength: 40 } %>
      </div>
      <div class="element-inline left-element-margin">
        <%= l.association :log_type, label:'Type',collection: @selectable_types,:readonly => true, :label_method => lambda { |log_type| "#{log_type.code} - #{log_type.label}" },include_blank: false,input_html: {class: 'medium-field'  } %>
      </div>
      <div class="element-inline">
        <%= l.association :log_status, label:'Status',collection: @selectable_status,:readonly => true, :label_method => lambda { |log_status| "#{log_status.code} - #{log_status.label}" },include_blank: false,input_html: {class: 'medium-field'  } %>
      </div>

      <%= l.association :log_stage, label:'Insertion stage',collection: @selectable_stages,:readonly => true, :label_method => lambda { |log_stage| "#{log_stage.code} - #{log_stage.label}" },include_blank: false,input_html: {  } %>
    </div>

    <div class="right-large element-inline">
      <h3>Depencies</h3>
      <%= l.association :log_added_value, label:'Added Value',collection: @selectable_values,:readonly => true, :label_method => lambda { |log_added_value| "#{log_added_value.code} - #{log_added_value.label}" },include_blank: false,input_html: {  } %>
      <%= l.association :milestone, label:'Delivery stage',collection: @selectable_milestones,:readonly => true, :label_method => lambda { |milestone| "#{milestone.code} - #{milestone.label}" },include_blank: false,input_html: {  } %>
    </div>

  </div>





  <div class="buttons-down-form">
    <%= l.button :submit, "Validate", class: "btn validate" %>
    <button class="btn">
      <%= link_to "Back", logs_path, class: " navbar-wagon-item navbar-wagon-link" %>
    </button>
  </div>

<% end %>
