 <%= search_form_for @search do |f| %>

   <div class="form-group spacing-search">
     <%= f.label :code_or_description_cont, "Entry" %>
   </div>
   <div class="form-group spacing-search">
      <%= f.text_field :code_or_description_cont %>
   </div>
   <div class="form-group spacing-search">
      <%= f.label "Type" %>
   </div>
   <div class="form-group spacing-search">
      <%= f.select :log_type_id,options_from_collection_for_select(@selectable_types,"code","label"),include_blank: true %>
   </div>
   <div class="form-group spacing-search">
      <%= f.label "Status" %>
   </div>
   <div class="form-group spacing-search">
      <%= f.select :log_status_id,options_from_collection_for_select(@selectable_status,"code","label"),include_blank: true %>
   </div>
   <div class="form-group spacing-search">
      <%= f.label "Added value" %>
   </div>
   <div class="form-group spacing-search">
      <%= f.select :log_added_value_id,options_from_collection_for_select(@selectable_values,"code","label"), include_blank: true %>
   </div>
   <div class="form-group spacing-search">
      <%= f.label "Stage" %>
   </div>
   <div class="form-group spacing-search">
      <%= f.select :log_stage_id,options_from_collection_for_select(@selectable_stages,"code","label"), include_blank: true %>
   </div>
   <div class="form-group spacing-search">
       <%= f.submit "Search" %>
   </div>

 <% end %>
